<div class="dashboard-container">

  <div class="filters">
    <div class="filter-group">
      <label for="rubric-select">Rubric</label>
      <select id="rubric-select" [(ngModel)]="selectedRubric" (change)="selectRubric(selectedRubric!)">
        <option value="" disabled selected>Select rubric</option>
        <option *ngFor="let rubric of getUniqueRubrics()" [value]="rubric">{{ rubric }}</option>
      </select>
    </div>

    <div class="filter-group" *ngIf="selectedRubric">
      <label for="subrubric-select">Subrubric</label>
      <select id="subrubric-select" [(ngModel)]="selectedSubrubric" (change)="selectSubrubric(selectedSubrubric!)">
        <option value="" disabled selected>Select subrubric</option>
        <option *ngFor="let subrubric of getUniqueSubrubrics()" [value]="subrubric">{{ subrubric }}</option>
      </select>
    </div>

    <div class="filter-group" *ngIf="selectedSubrubric">
      <label for="subsubrubric-select">Sub-Subrubric</label>
      <select id="subsubrubric-select" [(ngModel)]="selectedSubSubrubric" (change)="selectSubSubrubric(selectedSubSubrubric!)">
        <option value="" disabled selected>Select sub-subrubric</option>
        <option *ngFor="let subSubrubric of getUniqueSubSubrubrics()" [value]="subSubrubric">{{ subSubrubric }}</option>
      </select>
    </div>
  </div>

  <div class="topics-list">
    <div *ngFor="let topic of filteredTopics" class="topic-card" (click)="openTopic(topic.id)">
      <h3>{{ topic.name }}</h3>
      <p>{{ topic.description }}</p>
    </div>
  </div>

</div>
